{% extends 'base.html' %}

{% block content %}
    <h1>@{{ username }}</h1>
    {% if user.username == username %}
    <a href="{% url 'accounts:update' user %}" class="btn btn-success">Edit profile</a>
    {% elif connected %}
        <a href="#" class="btn btn-success">Unfollow</a>
    {% else  %}
        <a href="#" class="btn btn-primary">Follow</a>
    {% endif %}
    <a href="{% url 'accounts:followers' username %}">followers: {{ followers }}</a>
    <a href="{% url 'accounts:following' username %}">following: {{ following }}</a>

    {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a>
            </div>
            <div class="panel-body">
                <img src="{{ post.photo.url }}" alt="{{ post.caption }}">
                <p>{{ post.caption }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
